<div>
  <h2 id="page-heading" data-cy="NarucilacHeading">
    <span jhiTranslate="tenderiApp.otvoreniNarucilac.home.title">Narucilacs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="tenderiApp.otvoreniNarucilac.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-narucilac"
        [routerLink]="['/narucilac/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="tenderiApp.otvoreniNarucilac.home.createLabel"> Create a new Narucilac </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="narucilacs?.length === 0">
    <span jhiTranslate="tenderiApp.otvoreniNarucilac.home.notFound">No narucilacs found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="narucilacs && narucilacs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="tenderiApp.otvoreniNarucilac.naziv">Naziv</span></th>
          <th scope="col"><span jhiTranslate="tenderiApp.otvoreniNarucilac.racun">Racun</span></th>
          <th scope="col"><span jhiTranslate="tenderiApp.otvoreniNarucilac.telefon">Telefon</span></th>
          <th scope="col"><span jhiTranslate="tenderiApp.otvoreniNarucilac.pib">Pib</span></th>
          <th scope="col"><span jhiTranslate="tenderiApp.otvoreniNarucilac.pdv">Pdv</span></th>
          <th scope="col"><span jhiTranslate="tenderiApp.otvoreniNarucilac.odgovornoLiceNarucioca">Odgovorno Lice Narucioca</span></th>
          <th scope="col"><span jhiTranslate="tenderiApp.otvoreniNarucilac.email">Email</span></th>
          <th scope="col"><span jhiTranslate="tenderiApp.otvoreniNarucilac.adresa">Adresa</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let narucilac of narucilacs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/narucilac', narucilac.id, 'view']">{{ narucilac.id }}</a>
          </td>
          <td>{{ narucilac.naziv }}</td>
          <td>{{ narucilac.racun }}</td>
          <td>{{ narucilac.telefon }}</td>
          <td>{{ narucilac.pib }}</td>
          <td>{{ narucilac.pdv }}</td>
          <td>{{ narucilac.odgovornoLiceNarucioca }}</td>
          <td>{{ narucilac.email }}</td>
          <td>{{ narucilac.adresa }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/narucilac', narucilac.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/narucilac', narucilac.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(narucilac)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
